footer {
  height: 100px;
  margin: 40px auto;
  padding: 30px;
  padding-bottom: 5px;
  border: 1px solid;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.147);
}

#footer_text span a {
  text-decoration-color: blue;
}
#footer_text {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

footer a {
  color: blue;
}
